* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
body {
  font-weight: 400;
  font-family: "Poppins", sans-serif;
  color: #555;
  min-height: 150vh;
}

/* NAV BAR */
/* ------------- */
/* ------------- */
nav {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  min-height: 8vh;
  width: 100%;
  gap: 70rem;

  font-family: "Poppins", sans-serif;
}

.logo {
  color: rgb(240, 240, 240);
  text-transform: uppercase;
  letter-spacing: 0.313rem;
}
.nav-links {
  display: flex;
  justify-content: space-around;
  width: 30rem;
}
.nav-links li {
  list-style: none;
}
.nav-links a {
  color: rgb(255, 255, 255);
  text-decoration: none;
  letter-spacing: 0.188rem;
  font-weight: 500;
  font-size: 0.8rem;
  z-index: -1;
}
.nav-links a:hover {
  color: white;
}

/* Väljer alla divs som burger classen innehåller */
.burger div {
  width: 1.563rem;
  height: 0.188rem;
  background-color: rgb(255, 255, 255);
  margin: 0.313rem;
  transition: all 0.3s ease;
}

.burger {
  display: none;
  cursor: pointer; /* Ändrar muspekaren till en pointer */
}
@media screen and (max-width: 1250px) {
  .nav-links {
    width: 60%;
  }
}

@media screen and (max-width: 850px) {
  .nav-links {
    width: 70%;
  }
}

@media screen and (max-width: 768px) {
  body {
    overflow-x: hidden; /* Gör så att det ej går att scrolla */
  }
  .nav-links {
    position: absolute;
    right: 0px;
    height: 92vh;
    top: 8vh;
    width: 50%;
    align-items: center;

    background-color: #6baa75;
    display: flex;
    flex-direction: column;
    transform: translateX(100%); /* Flyttar containern bort från skärmen */
    transition: transform 0.5s ease-in;
  }
  .nav-links li {
    opacity: 0;
  }
  .burger {
    display: block;
  }
}

.nav-active {
  transform: translateX(0%);
}

@keyframes navLinkFade {
  from {
    opacity: 0;
    transform: translateX(3.125rem);
  }
  to {
    opacity: 1;
    transform: translateX(0px);
  }
}

.toggle .line1 {
  transform: rotate(-45deg) translate(-5px, 6px);
}
.toggle .line2 {
  opacity: 0;
}
.toggle .line3 {
  transform: rotate(45deg) translate(-5px, -6px);
}

/* Section hero  */
/* ------------- */
/* ------------- */
.section-hero {
  width: 100%;
  min-height: 100vh;
  background-image: linear-gradient(#25456dde, #0b3655c2),
    url("./images/scott-graham-5fNmWej4tAA-unsplash.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  clip-path: circle(160vh at 50% -80vh);
}
.overlay-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: left;
  color: white;
  min-height: 50vh;
}

h1 {
  font-size: 2.5rem;
  font-weight: 600;
}
h2 {
  font-weight: 300;
}

.logo-pic {
  margin-top: 10px;

  width: 4.5rem;
  height: 4.5rem;
}
.overlay-text-content {
  margin-left: 40%;
}
.overlay-text-content h2 {
  margin-top: 2%;
}

.btn {
  /* Green */
  border: none;
  color: white;
  padding: 12px 24px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 30px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
v 
  color: white;
  border: 1px solid #ffffff;
}

.btn:hover {
  background-color: #6baa75;
  border-color: #6baa75;
  color: white;
}

/* ABOUT Section */
/* ------------- */
/* ------------- */
.about {
  display: flex;

  flex-wrap: wrap;
  min-height: 15rem;
  flex-wrap: wrap;
  flex-direction: row;
  background-color: green;
}
.card {
  background-color: red;
  min-height: 15rem;
  width: 20rem;
}
